.button_form {
  border-radius: 15px;
  padding: 7px 15px;
  text-decoration: none;
  border: none;
  color: #fff;
  background: #005aee;
}

.button_form:hover {
  cursor: pointer;
  box-shadow: 2px 2px 20px #e6e6e6;
}

.form_style {
  margin: auto;
}

.input_form {
  border-radius: 15px;
  padding: 7px 15px;
  border: 1px black solid;
  text-decoration: none;
}
